<h1> Angular </h1>
<h2>from 64 to</h2>
<br>
<new-course></new-course>
<br>

<!--
<signup-form></signup-form>

<contact-form>

</contact-form>


<br><br>

<br>
<zippy title="Shipping Details">
        Shipping Details Content
</zippy>
    
    <zippy title="Billing Details">
        Billing Details Content
 </zippy>


<br>
<h2> {{task.assignee?.name}}</h2>
<h1>ng for</h1>

<br>
<input type="text" [appInputFormat]="'uppercase'">

<br>
<h1>ng switch</h1>

<ul class="nav nav-pills">
    <li [class.active]="viewMode =='map'"><a (click)="viewMode='map'"> Map view</a></li>
    <li [class.active]="viewMode =='list'"><a (click)="viewMode='list'"> List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'"> Map View Content</div>
    <div *ngSwitchCase="'list'"> List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
    
</div>

<br>
<h1>ng If</h1>
<div *ngIf="courses.length > 0; then coursesList else noCourses">
</div>

<ng-template #coursesList>
    List of courses with ng template for large elements trees
</ng-template>

<ng-template #noCourses>
    No Courses yet with ng template
</ng-template>

<br>
<div [hidden]="courses.length == 0">
     Courses with Hidden for small element trees
</div>
<div [hidden]="courses.length > 0">
      No   Courses with Hidden
        
</div>

<br><br>



<h2>from 1 to 62</h2>
<courses></courses>
<h1>Hello world</h1>
Likes: <like [likesCount]="tweet.likesCount" 
            [isActive]="tweet.isLiked" (change)="onClick()"></like>

<br>Favs: <favorite  [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
<bootstrap-panel >
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here ....</p>
    </div>
</bootstrap-panel>

-->
